.header {
    padding-top: 43px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    width: 1340px;
}

.header-list {
    display: flex;
}

.header-item{
    margin-right: 43px;
    &:nth-child(1){
        margin-right: 44px;
    }
    &:nth-child(4){
        margin-right: 0px;
        padding-right: 3px;
    }
}
.header-item-link {
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.03px;
    &:hover{
        color: var(--blue);
    }
}