.intro {
    margin-bottom: 93px;
}

.intro-container {
    padding-top: 82px;
    display: flex;
}

.intro-img {
    border-radius: 13px;
    margin-right: 60px;
}

.intro-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
    margin-top: 295px;
}

.intro-big-title {
    font-weight: 700;
    font-size: 80px;
}

.intro-text-after {
    font-size: 75px;
    background: url(../../img/txt-after.png) no-repeat bottom center;
    padding-bottom: 9px;
}


.intro-text {
    margin-top: 84px;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
    margin-left: 22px;
}
.intro-listen{
    margin-left: 22px;
}